/* @import url(https://db.onlinewebfonts.com/c/c686cfe6c1e84ce0f8e07b7f5d675fdf?family=FoundryMonoline-Bold);
@import url(https://db.onlinewebfonts.com/c/c6a54e3881bf08530bc0719b35f67565?family=FoundryMonoline-Regular); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Bold";
    src: url('../src/assets/Fonts/foundrymonoline-bold.ttf');
}
@font-face {
    font-family: "Regular";
    src: url('../src/assets/Fonts/Foundry\ Monoline\ W04\ Regular.ttf');
}
/* @font-face {
    font-family: "Bold";
    src: url('../src/assets/Fonts/foundrymonoline-bold.ttf');
}
@font-face {
    font-family: "Bold";
    src: url('../src/assets/Fonts/foundrymonoline-bold.ttf');
} */